{% extends 'account/base.html' %}

{% block body %}

<center>
    <h1>{{ post.title }} <small>written by:
        </small><span>{{ post.author }}</span></h1>
    <p class="subheading">{{ post.date_posted|date:'Y-m-d P' }}</p>

    <ul class="aboutul">
        <li> <i class="fa fa-check"></i>{{ post.content }}</li>
    </ul>
    <hr>
    <form action="{% url "post-update" post.id %}">
        <button type="submit" class="btn btn-success slide">Updete</button>
    </form>
    <br>
    <form action="{% url "post-delete" post.id %}">
        <button type="submit" class="btn btn-danger slide">Delete</button>
    </form>

</center>

{% endblock body %}